.icon-img {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
}

.icon-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.icon-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #474747;
  opacity: 0;
  transition: opacity 0.25s ease;
  border-radius: 50%;
}

.icon-img:hover::after {
  opacity: 0.55;
}
