.cart-page-wrapper {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.cart-left {
  flex: 2;
  min-width: 60%;
}

.cart-right {
  flex: 1;
}

.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: none !important;
  width: 100% !important;
}

.shop_table {
  thead {
    background-color: #1d266f;
    th {
      color: white !important;
    }
  }
}

.shop_table tbody td {
  background-color: white !important;
}

.wc-proceed-to-checkout {
  a {
    background-color: #1d266f !important;
  }
}

@media (max-width: 768px) {
  .cart-page-wrapper {
    flex-direction: column;
  }

  .cart-left,
  .cart-right {
    min-width: 100%;
  }
}

// Mini cart
.elementor-menu-cart__footer-buttons .elementor-button--view-cart {
  background-color: #1d266f !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 12px 24px;
  font-weight: 600;
  border: none;
}

.elementor-menu-cart__footer-buttons .elementor-button--checkout {
  background-color: #1d266f !important;
  color: #fff !important;
  border-radius: 40px !important;
  padding: 12px 24px;
  font-weight: 600;
  border: none;
}

.elementor-menu-cart__product-name {
  a {
    color: #000 !important;
  }
}
