.homepage-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.homepage-slider .slider {
  display: none;
  width: 100%;
  transition: opacity 1s ease;
}

.homepage-slider .slider.active {
  display: flex;
  opacity: 1;
  animation: slideIn 0.6s ease;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.homepage-slider {
  .slider-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    color: #979797;
    border: none;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
}

.homepage-slider .slider-nav:hover {
  background-color: transparent !important;
}

.homepage-slider .slider-nav:focus {
  background-color: transparent !important;
}

.homepage-slider .slider-nav.prev {
  left: 10px;
}
.homepage-slider .slider-nav.next {
  right: 10px;
}

.card-product {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  background-color: #fff;
}

.card-product img {
  object-fit: contain !important;
  background-color: #f6f6f6 !important;
}

.card-service {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.card-service .service-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.card-service .service-name {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.184);
  z-index: 10;
  max-width: 90%;
  box-sizing: border-box;
  font-size: 20px;
  max-width: 180px !important;
}
